<template>
  <div class="panel panel-default panel-toolbar">
    <div class="panel-heading" v-show="showHeader">
      <div class="container-fluid">

        <div class="row" v-show="title && showTitle">
          <div class="col-xs-12 form-group">
            <h4>{{ title }}</h4>
          </div>
        </div>

        <div class="row" ref="rowButtonInputSearch">

          <div class="col-xs-12 col-sm-4 form-group" v-show="showButtons">
            <div class="btn-group">
              <slot name="buttons"></slot>
            </div>
          </div>

          <div
            v-show="!dataShowAdvancedSearch"
            class="col-xs-12 form-group"
            :class="{'col-sm-5 col-sm-offset-3': showButtons}"
            ref="colInputSearch">
            <form v-on:submit.prevent="onSearch">
              <div class="input-group">
                <input type="text" class="form-control" v-model="search" placeholder="Pesquisar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <button
                      class="btn btn-link"
                      type="button"
                      v-on:click="showHideAdvancedSearch"
                      v-show="advancedSearch">
                        Exibir mais opções
                    </button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <form v-on:submit.prevent="onSearch" v-show="dataShowAdvancedSearch">
          <slot name="advancedSearch"></slot>
          <div class="form-group text-center">
            <button class="btn btn-primary">
              <i class="fa fa-search"></i>
              Pesquisar
            </button>
            <button v-if="advancedSearch" class="btn btn-link" type="button" v-on:click="hideAdvancedSearch">
              Ocultar opções
            </button>
          </div>
        </form>

      </div>
    </div>

    <p class="bg-info data-table-loading" v-if="!loaded">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </p>

    <p class="bg-info data-table-nothing-found" v-if="loaded && !datasource.data.length">
      <i class="fa fa-info-circle"></i>
      {{ messageNotFound }}
    </p>

    <div class="data-table" ref="body" v-show="loaded && datasource && datasource.data.length">
      <slot name="body"></slot>
    </div>

    <data-table-summary :datasource="datasource"></data-table-summary>
    <data-table-paginator :datasource="datasource" v-on:paginate="paginate"></data-table-paginator>
  </div>
</template>
<script>

import $ from 'jquery'
import EmptyDataSource from '../assets/data/empty-data-source'

export default {

  props: {
    showHeader: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: null
    },
    datasource: {
      default () {
        return EmptyDataSource
      }
    },
    messageNotFound: {
      type: String,
      default: 'Nenhum registro encontrado.'
    },
    advancedSearch: {
      type: Boolean,
      default: true
    },
    showAdvancedSearch: {
      type: Boolean,
      default: false
    },
    showTitle: {
      type: Boolean,
      default: true
    },
    showButtons: {
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      loaded: false,
      search: null,
      params: {},
      dataShowAdvancedSearch: this.showAdvancedSearch
    }
  },

  methods: {

    init () {
      const vue = this
      const $body = $(this.$slots['body'][0].elm)
      if ($body !== undefined) {
        const $ths = $body.children('table').find('th[data-order-by]')
        $ths.each(function () {
          if ($(this).data('orderByDirection') === undefined) {
            $(this).data('orderByDirection', 'ASC')
          }
          if ($(this).find('a').length === 0) {
            $(this).wrapInner('<a href="#"></a>')
            $(this).children('a').click(function (event) {
              event.preventDefault()
              vue.sort($(this))
            }).append('&nbsp;<i class="fa fa-sort"></i>')
          }
        })
      }
    },

    sort ($anchor) {
      const $th = $anchor.parent()
      const orderBy = $th.data('orderBy')

      if (!$th.data('orderByDirection')) {
        $th.data('orderByDirection', 'ASC')
      }

      const orderByDirection = $th.data('orderByDirection') || 'ASC'
      const params = this.getParams()

      if ($anchor.hasClass('sort') && orderByDirection === 'ASC') {
        $anchor.removeClass('sort')
        $anchor.find('i').removeClass('fa-sort-desc').addClass('fa-sort')
        delete params[`_orderBy[${orderBy}]`]
      } else {
        $anchor.addClass('sort')
        params[`_orderBy[${orderBy}]`] = orderByDirection
        $anchor
          .find('i')
          .removeClass('fa-sort fa-sort-asc fa-sort-desc')
          .addClass(`fa-sort-${orderByDirection.toLowerCase()}`)
          .addClass('fa-sort')
        $th.data('orderByDirection', orderByDirection === 'ASC' ? 'DESC' : 'ASC')
      }

      this.$emit('search', params)
    },

    getParams () {
      return Object.assign(this.params, {page: this.current_page})
    },

    paginate (page) {
      this.loaded = false
      let params = this.getParams()
      params['page'] = page
      this.$emit('search', params)
    },

    onSearch () {
      this.loaded = false
      let params = this.getParams()
      params['page'] = 1
      params['search'] = this.dataShowAdvancedSearch ? null : this.search
      this.$emit('search', params)
    },

    showHideAdvancedSearch () {
      this.dataShowAdvancedSearch = !this.dataShowAdvancedSearch
    },

    hideAdvancedSearch () {
      this.dataShowAdvancedSearch = false
    }

  },

  watch: {
    'datasource': function (newValue) {
      this.loaded = false
      if (newValue === null) {
        newValue = EmptyDataSource
      }

      let value = newValue
      if ('meta' in newValue) {
        Object.assign(value, value.meta)
      }

      if (value.total) {
        setTimeout(() => {
          this.init()
        }, 0)
      }

      this.loaded = true
    },
    'dataShowAdvancedSearch': function (newValue) {
      const element = 'buttons' in this.$slots ? this.$refs['colInputSearch'] : this.$refs['rowButtonInputSearch']
      $(element)[newValue ? 'hide' : 'show']()
    }
  }
}
</script>
<style lang="scss">

  .panel-toolbar {
    .panel-heading {
      padding: 15px 0 0 0;
    }
  }

  .data-table {
    table {
      border: none;
      thead {
        th {
          text-align: center;
          padding: 0;
          a, &.no-sort {
            white-space: nowrap;
            padding: 10px;
            text-align: center;
          }
          a {
            display: block;
            &[href]:hover, &[href]:active, &[href].sort {
              text-decoration: underline;
            }
          }
        }
      }

      tr {
        th:first-child, td:first-child {
          border-left: none;
        }
        th:last-child, td:last-child {
          border-right: none
        }
        th {
          border-bottom: none
        }
        th, td {
          white-space: nowrap !important;
        }
      }
    }

    nav {
      text-align: center;
    }
  }

  .data-table-loading, .data-table-nothing-found {
    margin: 0 !important;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  .data-table-loading {
    .fa {
      font-size: 1.5em;
    }
  }

</style>
