<template>
  <div class="container">
    <div class="hello">Olá
      <range-slider v-model="valor" :min="filtroAlcance.valor_min" :max="filtroAlcance.valor_max" :tooltip-formatter="(value) => `R$ ${value}`"></range-slider>
      filtro Min<input type="text" v-model="valor[0]">
      filtro Max<input type="text" v-model="valor[1]">
<br>
      Limite Min<input type="text" v-model="filtroAlcance.valor_min">
      Limite Max<input type="text" v-model="filtroAlcance.valor_max">
  <!--    <input-mask mask="99999-999" v-on:change="teste"/>-->
  <!--    <schedule-calendar @search="_search" :datasource="datasource" @eventSelected="eventSelected" @eventEdit="eventEdit" @eventDelete="eventDelete" default-view="C" :btn-calendar="false" :btn-tipos="false">-->
  <!--      <div slot="popover-content" slot-scope="{event}">-->
  <!--        <div v-if="event.tipo == 'atendimento'">-->
  <!--          conteudo do popover de atendimento-->
  <!--        </div>-->
  <!--        <div v-if="event.tipo == 'aniversario'">-->
  <!--          conteudo do popover de aniversário-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </schedule-calendar>-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      valor: [15, 50],
      filtroAlcance: {
        valor_min: 10,
        valor_max: 200
      }
    }
  },
  methods: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
