<template>
  <input
    ref="input"
    class="form-control text-right"
    :data-category="dataCategory"
    :placeholder="placeholder"
    v-model="valueComputed">
</template>
<script>
import $ from 'jquery'
export default {
  props: {
    value: {
      default: null
    },
    dataCategory: {
      default: null
    },
    decimalPlaces: {
      type: [String, Number],
      default: 2
    },
    prefix: {
      type: String,
      default: ''
    },
    suffix: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    absoluto: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    valueComputed: {
      set (value) {
        value = value.removeNotNumber()
        value = parseFloat(value).toFixed(this['decimalPlaces'])
        if (this['decimalPlaces'] === 0) {
          value = parseInt(value)
        } else {
          value = parseFloat(value)
        }
        if (this.absoluto) {
          value = Math.abs(value)
        }

        $(this.$refs['input']).off('change.inputNumber').one('change.inputNumber', () => {
          if (isNaN(value)) {
            $(this.$refs['input']).val('')
            return this.$emit('input', null)
          }

          this.$emit('input', value)
        })
      },
      get () {
        if (this.value !== null) {
          let value = this.value.toString().removeNotNumber()
          if (!value.isBlank()) {
            value = parseFloat(value).toFixed(this['decimalPlaces'])
            if (this['decimalPlaces'] === 0) {
              value = parseInt(value)
            } else {
              value = parseFloat(value)
            }
            const format = this['prefix'] + '#,##0' + (this['decimalPlaces'] > 0 ? '.'.repeat(this['decimalPlaces'], '0') : '') + this.suffix
            return $.formatNumber(value, {locale: 'br', format: format})
          }
        }
        return null
      }
    }
  },
  mounted () {
    $(this.$refs['input']).on('focus click', function () { $(this).select() })
  }
}
</script>
