<template>
    <div class="input-group">
        <input class="form-control" ref="input" :data-category="dataCategory" :placeholder="placeholder">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" @click="show">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</template>
<script>
import $ from 'jquery'
import moment from 'moment'
export default {
  props: ['value', 'dataCategory', 'placeholder', 'useCurrent', 'minDate', 'maxDate'],
  mounted () {
    const $input = $(this.$refs['input']).val(this.format(this.value))
    $input.setMask('99/99/9999 99:99')
    $input.datetimepicker({
      locale: 'pt-BR',
      useCurrent: (typeof this.useCurrent !== 'undefined') ? this.useCurrent : false,
      allowInputToggle: true,
      minDate: this.minDate,
      maxDate: this.maxDate
    }).on({
      'focus': function () {
        $(this).select()
      },
      'dp.change': event => {
        let date = event.date
        date = date.isValid() ? date.format('YYYY-MM-DD HH:mm') : null
        this.$emit('input', date)
      }
    })
  },
  watch: {
    value () {
      $(this.$refs['input']).val(this.format(this.value))
    },
    minDate () {
      $(this.$refs['input']).data('DateTimePicker').minDate(this.format(this.minDate))
    },
    maxDate () {
      $(this.$refs['input']).data('DateTimePicker').maxDate(this.format(this.maxDate))
    }
  },
  methods: {
    format (value) {
      if (value === null) {
        return ''
      }
      const format = 'YYYY-MM-DD HH:mm'.slice(0, value.length)
      const date = moment(value, format)
      return date._isValid ? date.format('DD/MM/YYYY HH:mm') : ''
    },
    show () {
      $(this.$refs['input']).data('DateTimePicker').show()
    }
  }
}
</script>
