<template>
    <input-number prefix="R$ " v-model="model" v-on:change="change" :data-category="dataCategory" :placeholder="placeholder" :absoluto="absoluto"></input-number>
</template>
<script>
export default {
  props: {
    value: {
      default: null
    },
    dataCategory: {
      default: null
    },
    placeholder: {
      default: null
    },
    absoluto: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    model: {
      get: function () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    change (value) {
      this.$emit('change', value)
    }
  }
}
</script>
