<template>
    <div class="input-group">
        <input type="time" class="form-control" ref="input" :data-category="dataCategory" :placeholder="placeholder" v-if="is_mobile">
        <input class="form-control" ref="input" :data-category="dataCategory" :placeholder="placeholder" v-else>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" @click="show">
                <i class="fa fa-clock-o"></i>
            </button>
        </span>
    </div>
</template>
<script>
import $ from 'jquery'
import moment from 'moment'
export default {
  props: ['value', 'dataCategory', 'placeholder', 'useCurrent'],
  data () {
    return {
      is_mobile: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    }
  },
  mounted () {
    const $input = $(this.$refs['input']).val(this.format(this.value))
    $input.setMask('99:99')
    var self = this
    if (this.is_mobile) {
      $input.on('change', function () {
        self.$emit('input', $input.val())
      })
    } else {
      $input.datetimepicker({
        locale: 'pt-BR',
        useCurrent: (typeof this.useCurrent !== 'undefined') ? this.useCurrent : false,
        format: 'HH:mm'
      }).on({
        'focus': function () {
          $(this).select()
        },
        'dp.change': event => {
          const date = event.date
          date.toString = function () { return this._isValid ? this.format('HH:mm') : '' }
          date.toISOString = function () { return this._isValid ? this.format('HH:mm') : '' }
          this.$emit('input', date)
        }
      })
    }
  },
  methods: {
    format (value) {
      if (value === null) {
        return ''
      }
      const format = 'HH:mm'.slice(0, value.length)
      const date = moment(value, format)
      return date._isValid ? date.format('HH:mm') : ''
    },
    show () {
      if (this.is_mobile) {
        $(this.$refs['input']).click()
      } else {
        $(this.$refs['input']).data('DateTimePicker').show()
      }
    }
  },
  watch: {
    value: function (value) {
      $(this.$refs['input']).val(this.format(value))
    }
  }
}
</script>
