<template>
  <input-number
    :decimal-places="0"
    v-model="model"
    v-on:change="change"
    :data-category="dataCategory"
    :placeholder="placeholder"
    :absoluto="absoluto"
    :prefix="prefix"
    :suffix="suffix"
  ></input-number>
</template>
<script>
export default {
  props: {
    value: {
      default: null
    },
    dataCategory: {
      default: null
    },
    placeholder: {
      default: null
    },
    absoluto: {
      type: Boolean,
      default: false
    },
    prefix: {
      type: String,
      default: ''
    },
    suffix: {
      type: String,
      default: ''
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    change (value) {
      this.$emit('change', value)
    }
  }
}
</script>
