<template>
  <div class="slider-range"  style="width: 100%">
    <div class="slider-bar" ref="elem" @click="barClick">
      <div class="slider-handle" :style="{ left: position[0] + '%' }" @mousedown="dragStart($event, 0)" v-if="isRangeSlide">
        <div class="tolltipValue">
          <span>{{tooltipFormatter(valueComputed[0])}}</span>
        </div>
      </div>
      <div class="slider-handle" :style="{ left: position[1] + '%' }" @mousedown="dragStart($event, 1)">
        <div class="tolltipValue">
          <span>{{tooltipFormatter(valueComputed[1])}}</span>
        </div>
      </div>
      <div class="slider-process" :style="stylePosition"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      default: null
    },
    min: {
      default: 0
    },
    max: {
      default: 100
    },
    tooltipFormatter: {
      type: Function,
      default: (value) => value
    }
  },
  data: function () {
    return {
      dragging: false,
      dotActive: 1,
      componentLoad: true
    }
  },
  computed: {
    isRangeSlide: function () {
      return typeof this.value === 'object' && this.value.hasOwnProperty(0) && this.value.hasOwnProperty(1)
    },
    valueComputed: {
      get: function () {
        if (this.isRangeSlide) {
          let value = this.value
          if (value[0] < this.min) value[0] = this.min
          if (value[0] > this.max) value[0] = this.max
          if (value[1] < this.min) value[1] = this.min
          if (value[1] > this.max) value[1] = this.max
          return value
        } else {
          let value = [this.min, this.value]
          if (value[0] > this.max) value[0] = this.max
          if (value[1] < this.min) value[1] = this.min
          if (value[1] > this.max) value[1] = this.max
          return value
        }
      },
      set: function (value) {
        if (this.isRangeSlide) {
          this.$emit('input', value)
        } else {
          this.$emit('input', value[1])
        }
      }
    },
    position: {
      get: function () {
        let posMin = (parseFloat(this.valueComputed[0]) - parseFloat(this.min)) * 100 / (parseFloat(this.max) - parseFloat(this.min))
        let posMax = (parseFloat(this.valueComputed[1]) - parseFloat(this.min)) * 100 / (parseFloat(this.max) - parseFloat(this.min))
        if (posMin < 0) posMin = 0
        if (posMin > 100) posMin = 100
        if (posMax < 0) posMax = 0
        if (posMax > 100) posMax = 100
        if (this.isRangeSlide) {
          return [Math.round(posMin), Math.round(posMax)]
        } else {
          return [0, Math.round(posMax)]
        }
      },
      set: function (value) {
        let valueMin = (((parseFloat(this.max) - parseFloat(this.min)) * parseFloat(value[0])) / 100) + parseFloat(this.min)
        let valueMax = (((parseFloat(this.max) - parseFloat(this.min)) * parseFloat(value[1])) / 100) + parseFloat(this.min)
        if (valueMin < this.min) valueMin = this.min
        if (valueMax > this.max) valueMax = this.max
        if (this.isRangeSlide) {
          this.$emit('input', [Math.round(valueMin), Math.round(valueMax)])
        } else {
          this.$emit('input', Math.round(valueMax))
        }
      }
    },
    stylePosition: function () {
      return { left: this.position[0] + '%', width: (parseFloat(this.position[1]) - parseFloat(this.position[0])) + '%' }
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.bindListener()
    })
    window.$rangeSlider = this
  },
  methods: {
    bindListener: function () {
      document.addEventListener('mousemove', this.drag)
      document.addEventListener('mouseup', this.dragEnd)
    },
    getPosition: function (ev) {
      let position = ev.clientX - this.$refs.elem.getBoundingClientRect().left
      let percent = (position * 100) / this.$refs.elem.offsetWidth
      if (percent < 0) percent = 0
      if (percent > 100) percent = 100
      return percent
    },
    setPosition: function (pos) {
      if (pos >= 0 && pos <= 100) {
        if ((this.dotActive === 1 && pos >= this.position[0]) || (this.dotActive === 0 && pos <= this.position[1])) {
          let _position = this.position
          this.$set(_position, this.dotActive, pos)
          this.$set(this, 'position', _position)
        }
      }
    },
    barClick: function (ev) {
      if (!this.dragging) {
        let pos = this.getPosition(ev)
        if (pos < this.position[0]) {
          this.dotActive = 0
        } else
        if (pos > this.position[1]) {
          this.dotActive = 1
        }
        this.setPosition(pos)
      }
    },
    dragStart: function (ev, dot) {
      this.dragging = true
      this.dotActive = dot
    },
    drag: function (ev) {
      if (!this.dragging) {
        return
      }
      let pos = this.getPosition(ev)
      this.setPosition(pos)
    },
    dragEnd: function () {
      if (!this.dragging) {
        return
      }
      this.dragging = false
    }
  }
}
</script>
<style lang="scss">
  .slider-range {
    width: auto;
    padding: 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .slider-bar {
    height: 6px;
    position: relative;
    border-radius: 15px;
    background-color: #212131;
    width: 100%;
    display: table;
  }

  .slider-handle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    background-color: #42b983;
    -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
    -webkit-transition: all 0s;
    transition: all 0s;
    will-change: transform;
    cursor: pointer;
    z-index: 3;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    transform: translate(-50%, -50%);
    .tolltipValue{
      background-color: #CCC;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -128%);
      padding: 5px;
      border-radius: 7px;
      white-space: nowrap;
      &:before{
        content: '';
        position: absolute;
        bottom: -8px;
        border-top: 10px solid #ccc;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
      }
    }
  }

  .slider-process {
    background-color: #42b983;
    width: 0;
    height: 6px;
    border-radius: 15px;
    position: relative;
  }
</style>
