<template>
  <div class="sheduler-calendar">
    <div class="sheduler-calendar-buttons">
      <div class="col-sm-4">
        <ul class="nav nav-pills">
          <li class="dropdown pull-left" v-show="btnCalendar">
            <a class="btn btn-default" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-calendar"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li>
                <div ref="datepicker" :data-date="search.currentDate"></div>
              </li>
            </ul>
          </li>
          <li><a class="btn btn-default today" @click="setDate(todayDate)" v-show="btnToday">Hoje</a></li>
          <li><a class="btn btn-default prev" @click="prev" v-show="btnPrev"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
          <li><a class="btn btn-default next" @click="next" v-show="btnNext"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div>
          <h3 class="title-calendar">{{titleCalendar}}</h3>
        </div>
      </div>
      <div class="col-sm-4">
        <ul class="nav nav-pills navbar-right">
          <li class="dropdown pull-left" v-show="btnTipos">
            <a class="btn btn-default" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span>{{typeSchedule[typeScheduleActive]}}</span> <span class="glyphicon glyphicon-align-justify"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li v-for="(type, i) in typeSchedule" :key="i">
                <a href="" @click.prevent="setScheduleActive(i)">{{type}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <component :is="currentView"
               :datasource="datasource"
               :date="date"
               ref="scheduleComponent"
               @setTitle="setTitle"
               @eventSelected="eventSelected"
    >
    </component>
    <schedule-calendar-event-popover
            v-model="itemEventSelected"
            ref="schedule-calendar-event-popover"
            @delete="eventDelete"
            @edit="eventEdit"
            :is-edit="popoverIsEdit"
            :is-delete="popoverIsDelete"
            :disable="popoverDisabled"
    >
      <div slot="content" slot-scope="{event}">
        <slot name="popover-content" :event="event"></slot>
      </div>
    </schedule-calendar-event-popover>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import $ from 'jquery'
import {
  SCHEDULE_DAY,
  SCHEDULE_WEEK,
  SCHEDULE_MONTH,
  SCHEDULE_COMMITMENT,
  SCHEDULE_TYPE,
  initialValue as eventInitialValue
} from '../assets/data/schedule-calendar-data-source'

export default {
  props: {
    popoverIsEdit: {
      type: Boolean,
      default: true
    },
    popoverIsDelete: {
      type: Boolean,
      default: true
    },
    popoverDisabled: {
      type: Boolean,
      default: false
    },
    datasource: {
      type: Array,
      default () {
        return []
      }
    },
    defaultView: null,
    btnCalendar: {
      type: Boolean,
      default: true
    },
    btnToday: {
      type: Boolean,
      default: true
    },
    btnPrev: {
      type: Boolean,
      default: true
    },
    btnNext: {
      type: Boolean,
      default: true
    },
    btnTipos: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      date: moment().locale('pt-br'),
      currentView: null,
      titleCalendar: '',
      typeScheduleActive: null,
      typeSchedule: SCHEDULE_TYPE,
      todayDate: moment().format('YYYY-MM-DD'),
      search: {
        currentDate: moment().format('YYYY-MM-DD'),
        startDate: null,
        endDate: null
      },
      itemEventSelected: _.clone(eventInitialValue)
    }
  },
  watch: {
    'search.currentDate' () {
      $(this.$refs['datepicker']).datepicker('setDate', this.search.currentDate)
    }
  },
  mounted () {
    let self = this
    $(this.$refs['datepicker']).datepicker({
      language: 'pt-BR',
      todayHighlight: true,
      autoclose: true,
      format: 'yyyy-mm-dd'
    }).on({
      'changeDate': event => {
        let date = moment(event.date)
        if (date.isValid()) {
          self.setDate(date)
          self.$refs['scheduleComponent'].load()
        }
      }
    })
    this.setScheduleActive(SCHEDULE_MONTH)
  },
  methods: {
    setTitle (title) {
      this.titleCalendar = title
    },
    setScheduleActive (typeSchedule) {
      if (this.defaultView) typeSchedule = this.defaultView
      switch (typeSchedule) {
        case SCHEDULE_DAY:
          this.currentView = 'schedule-calendar-day'
          break
        case SCHEDULE_WEEK:
          this.currentView = 'schedule-calendar-week'
          break
        case SCHEDULE_MONTH:
          this.currentView = 'schedule-calendar-month'
          break
        case SCHEDULE_COMMITMENT:
          this.currentView = 'schedule-calendar-commitment'
          break
      }
      this.typeScheduleActive = typeSchedule
    },
    next () {
      let currentDate = moment(this.search.currentDate)
      switch (this.typeScheduleActive) {
        case SCHEDULE_DAY:
          currentDate.add(1, 'days')
          break
        case SCHEDULE_WEEK:
          currentDate.add(7, 'days')
          break
        case SCHEDULE_MONTH:
        case SCHEDULE_COMMITMENT:
          currentDate.add(1, 'month')
          break
      }
      this.setDate(currentDate)
    },
    prev () {
      let currentDate = moment(this.search.currentDate)
      switch (this.typeScheduleActive) {
        case SCHEDULE_DAY:
          currentDate.subtract(1, 'days')
          break
        case SCHEDULE_WEEK:
          currentDate.subtract(7, 'days')
          break
        case SCHEDULE_MONTH:
        case SCHEDULE_COMMITMENT:
          currentDate.subtract(1, 'month')
          break
      }
      this.setDate(currentDate)
    },
    setDate (data) {
      if (data instanceof moment && data.isValid()) {
        this.date.set(data.toObject())
        this.search.currentDate = this.date.format('YYYY-MM-DD')
      } else {
        let newDate = moment(data)
        if (newDate.isValid()) {
          this.date.set(newDate.toObject())
          this.search.currentDate = this.date.format('YYYY-MM-DD')
        }
      }
    },
    setStartDate (data) {
      if (data instanceof moment && data.isValid()) {
        this.search.startDate = data.format('YYYY-MM-DD')
      } else {
        let newDate = moment(data)
        if (newDate.isValid()) {
          this.search.startDate = newDate.format('YYYY-MM-DD')
        }
      }
    },
    setEndDate (data) {
      if (data instanceof moment && data.isValid()) {
        this.search.endDate = data.format('YYYY-MM-DD')
      } else {
        let newDate = moment(data)
        if (newDate.isValid()) {
          this.search.endDate = newDate.format('YYYY-MM-DD')
        }
      }
    },
    searchDatasource () {
      this.$emit('search', this.search)
      this.$refs['schedule-calendar-event-popover'].hidePopover()
    },
    eventSelected (data) {
      this.itemEventSelected = _.merge(_.clone(eventInitialValue), data)
      this.$refs['schedule-calendar-event-popover'].showPopover()
      this.$emit('eventSelected', this.itemEventSelected)
    },
    eventEdit (data) {
      this.$emit('eventEdit', data)
    },
    eventDelete (data) {
      this.$emit('eventDelete', data)
    },
    reload () {
      this.$refs['scheduleComponent'].load()
    },
    showPopover () {
      this.$refs['schedule-calendar-event-popover'].showPopover()
    },
    hidePopover () {
      this.$refs['schedule-calendar-event-popover'].hidePopover()
    }
  }
}
</script>
<style lang="scss">
.sheduler-calendar{
  color:#000;
  /*position: relative;*/
  display: table;
  width: 100%;
  .title-calendar{
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
  .nav{
    padding: 0;
    background-color: transparent;
  }
  .navbar-right{
    margin-right: 0;
  }
  .calendar-month{
    display: block;
    width: 100%;
    .days-of-week{
      border-left: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      display: block;
      width: 100%;
      .row-day-week{
        display: flex;
        -ms-flex: 1;
        flex: 1;
        background-color: #f7f7f7;
        .col-day-week{
          -ms-flex: 1;
          flex: 1;
          width: 0;
          border-right: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          padding: 4px;
          overflow: hidden;
          text-align: left;
          color: #757575;
          &.today{
            color: #2196F3;
          }
        }
      }
    }
    .days-of-month{
      display: block;
      width: 100%;
      .row-day-month{
        border-left: 1px solid #e0e0e0;
        display: flex;
        -ms-flex: 1;
        flex: 1;
        .col-day-month{
          -ms-flex: 1;
          -webkit-box-flex: 1;
          flex: 1;
          width: 14.285714286%;
          border-right: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          height: 80px;
          display: block;
          .date{
            text-align: left;
            padding: 4px;
            a{
              text-decoration: none;
              .day-number{
                text-decoration: none;
                color: #616161;
                &.today{
                  background-color: #2196F3;
                  color: #FFF;
                  padding: 3px;
                }
              }
              .month-name{
                color: #CCC;
              }
            }
          }
          .list{
            width: 100%;
            height: 52px;
            overflow: auto;
            .label{
              background-color: #8cbae8;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              display: block;
              margin-left: 3px;
              margin-right: 3px;
              padding: 4px;
              font-size: 11px;
              text-align: left;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
  }
}
</style>
