<template>
  <div class="calendar-week">
    <div class="col-sm-12">
      <div class="header-date">
        <div class="column-date-left">
          <p>dia inteiro</p>
        </div>
        <div class="column-date-right">
          <div class="days-week">
            <div class="column-date" v-for="(dayWeek, dKey) in calendarWeek" :key="dKey">
              <div class="date">
                <span class="day-week">{{dayWeek.date.format('dddd')}}</span>
                <span class="day-number">{{dayWeek.date.format('DD')}}</span>
              </div>
              <a href="#"
                 class="label label-default event-item"
                 v-for="(item, lKey) in getDatasource(dayWeek.date, null, true)"
                 :key="lKey"
                 :style="{'background-color': item.color}"
                 @click.prevent="$parent.eventSelected(item)"
              >
                {{item.title}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-list">
        <div class="list">
          <div class="column-hours">
            <ul>
              <li v-for="(h, i) in hours" :key="i">
                <span class="number">{{h}}hs</span>
              </li>
            </ul>
          </div>
          <div class="column-event" style="display: table-cell;">
            <div class="column-date-day" v-for="(dayWeek, dKey) in calendarWeek" :key="dKey">
              <div class="horas" v-for="(hour, i) in hours" :key="i">
                <a href="#"
                   class="label label-default event-item"
                   v-for="(item, iKey) in getDatasource(dayWeek.date, hour)"
                   :key="iKey"
                   :style="{'background-color': item.color}"
                   @click.prevent="$parent.eventSelected(item)"
                >
                  {{getTime(item)}} - {{item.title}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
import moment from 'moment'
import _ from 'lodash'

export default {
  props: {
    datasource: {
      type: Array,
      default () {
        return []
      }
    },
    date: {
      type: Object,
      default () {
        return moment()
      }
    }
  },
  data () {
    return {
      hours: [],
      calendarWeek: []
    }
  },
  mounted () {
    this.load()
    let hours = []
    for (let i = 0; i <= 23; i++) {
      hours.push(i)
    }
    this.hours = hours
  },
  methods: {
    load () {
      let startCurretWeek = _.cloneDeep(this.date).startOf('week')
      let endCurretWeek = _.cloneDeep(this.date).endOf('week')
      this.$emit('setTitle', startCurretWeek.format('DD [de] MMMM ') + ' - ' + endCurretWeek.format('DD [de] MMMM '))

      let calendarWeek = {}
      let i = 0
      for (let col = 0; col <= 6; col++) {
        let dateWeek = null
        if (col < this.date.day()) {
          let daySubtract = (this.date.day() - col)
          dateWeek = _.cloneDeep(this.date).subtract(daySubtract, 'days')
        } else {
          dateWeek = _.cloneDeep(this.date).add(i, 'days')
          i++
        }
        calendarWeek[dateWeek.format('YYYY-MM-DD')] = {
          date: dateWeek
        }
      }
      this.$parent.setStartDate(startCurretWeek)
      this.$parent.setEndDate(endCurretWeek)
      this.$parent.setDate(this.date)
      this.$parent.searchDatasource()
      this.calendarWeek = calendarWeek
    },
    getDatasource (data, hour, allDay) {
      return _.filter(this.datasource, function (o) {
        if (!allDay && !o.allDay) {
          let currentDate = _.cloneDeep(data)
          currentDate.hour(hour)
          if (currentDate.isSame(o.startDate, 'hour')) {
            return true
          } else if (currentDate.isSame(o.endDate, 'hour')) {
            return true
          }
          if (currentDate.isBetween(o.startDate, o.endDate, 'hour')) {
            return true
          }
        } else if (allDay && o.allDay) {
          if (data.isSame(o.startDate, 'day')) {
            return true
          }
          if (data.isBetween(o.startDate, o.endDate, 'day')) {
            return true
          }
        }
        return false
      })
    },
    getTime (data) {
      let startDate = moment(data.startDate)
      let endDate = moment(data.endDate)
      if (startDate.isSame(endDate, 'day')) {
        return startDate.format('DD/MM') + ' - ' + startDate.format('HH:mm[hs]') + ' até as ' + endDate.format('HH:mm[hs]')
      } else {
        return startDate.format('DD/MM') + ' - ' + startDate.format('HH:mm[hs]') + ' até ' + endDate.format('DD/MM [as] HH:mm[hs]')
      }
    }
  }
}
</script>
<style lang="scss">
  .calendar-week{
    .header-date{
      display: table;
      width: 100%;
      .column-date-left{
        vertical-align: bottom;
        width: 9.95%;
        display: table-cell;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-top: 1px solid #CCC;
        text-align: right;
        padding-right: 6px;
      }
      .column-date-right{
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        display: table-cell;
        width: 100%;
        background-color: #fbfbfb;
        vertical-align: middle;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        .days-week{
          display: block;
          width: 100%;
        }
        .column-date{
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          border-right: 1px solid #CCC;
          padding: 10px;
          width: 14.285714285714286%;
          display: block;
          float: left;
          &:last-child{
            border-right: 0;
          }
          .date{
            text-align: left;
            padding-top: 10px;
            border-bottom: 1px solid #CCC;
            margin-bottom: 7px;
            .day-week{
              position: absolute;
              margin-top: -7px;
            }
            .day-number{
              font-size: 35px;
              color: #333;
            }
          }
        }
        .event-item{
          margin-right: 2px;
          display: block;
          margin-bottom: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .container-list {
      display: block;
      overflow: auto;
      max-height: 500px;
      .list {
        display: table;
        width: 100%;

        .column-hours {
          display: table-cell;
          border-left: 1px solid #CCC;
          border-right: 1px solid #CCC;
          border-bottom: 1px solid #CCC;
          vertical-align: top;
          width: 10%;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              height: 60px;
              position: relative;
              text-align: right;
              padding-right: 6px;
              .number {
                position: relative;
                bottom: -10px;
              }
            }
          }
        }

        .column-event {
          border-top: 1px solid #CCC;
          border-right: 1px solid #CCC;
          border-bottom: 1px solid #CCC;
          display: flex;
          width: 100%;
          padding-top: 10px;
          padding-left: 4px;
          padding-right: 4px;
          vertical-align: top;
          .column-date-day {
            flex: 1 1 auto;
            display: block;
            float: left;
            overflow: auto;
            border-right: 1px solid #CCC;
            padding: 5px;
            width: 14.285714285714286%;
            &:last-child{
              border-right: 0;
            }
            .horas{
              height: 60px;
              width: 100%;
              display: block;
              border-top: 1px solid #CCC;
              overflow-y: auto;
              .event-item {
                float: left;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 2px;
                border: 1px solid #FFF;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
</style>
