<template>
  <div class="calendar-commitment">
    <div class="col-sm-12">
      <div class="panel-group event-list">
        <div v-if="listEvents.length === 0" class="no-events">Não há eventos para mostrar</div>
        <div class="panel panel-default" v-else v-for="(dia, dKey) in listEvents" :key="dKey">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="row">
                <div class="col-sm-12">
                  <span class="pull-left">{{dia.date.format('dddd')}}</span>
                  <span class="pull-right">{{dia.date.format('DD [de] MMMM [de] YYYY')}}</span>
                </div>
              </div>
            </h4>
          </div>
          <div class="panel-body">
            <ul class="list-group text-left">
              <li class="list-group-item" v-for="(item, iKey) in dia.events" :key="iKey" >
                <a href="#" @click.prevent="$parent.eventSelected(item)" class="list-item">
                  <div class="col-sm-3">{{getTime(item)}}</div>
                  <div class="col-sm-9"><span class="glyphicon glyphicon-stop" :style="{'color': item.color}"></span> {{item.title}}</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

export default {
  props: {
    datasource: {
      type: Array,
      default () {
        return []
      }
    },
    date: {
      type: Object,
      default () {
        return moment()
      }
    }
  },
  data () {
    return {
      currentDate: null,
      startDayCurrentDate: null,
      endDayCurrentDate: null,
      dayWeek: null,
      dayNumber: null,
      listEvents: []
    }
  },
  watch: {
    datasource: function () {
      this.loadFilteredData()
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    load () {
      this.$emit('setTitle', this.date.format('MMMM [de] YYYY'))
      this.currentDate = _.cloneDeep(this.date).startOf('month')
      this.startDayCurrentDate = _.cloneDeep(this.currentDate)
      this.endDayCurrentDate = _.cloneDeep(this.currentDate).endOf('month')
      this.$parent.setStartDate(this.startDayCurrentDate)
      this.$parent.setEndDate(this.endDayCurrentDate)
      this.$parent.setDate(this.date)
      this.$parent.searchDatasource()
    },
    loadFilteredData () {
      let listEvents = []
      for (let i = 0; i < this.endDayCurrentDate.format('DD'); i++) {
        let date = _.cloneDeep(this.currentDate).add(i, 'days')
        let events = this.getDatasource(date)
        if (events.length > 0) {
          listEvents.push({
            date: date,
            events: events
          })
        }
      }

      this.listEvents = listEvents
    },
    getDatasource (data) {
      return _.filter(this.datasource, function (o) {
        if (data.isSame(o.startDate, 'day')) return true
        if (data.isBetween(o.startDate, o.endDate)) return true
        if (data.isSame(o.endDate, 'day')) return true
        return false
      })
    },
    getTime (data) {
      let startDate = moment(data.startDate)
      let endDate = moment(data.endDate)
      if (!data.allDay) {
        if (startDate.isSame(endDate, 'day')) {
          return startDate.format('DD/MM') + ' - ' + startDate.format('HH:mm[hs]') + ' até as ' + endDate.format('HH:mm[hs]')
        } else {
          return startDate.format('DD/MM') + ' - ' + startDate.format('HH:mm[hs]') + ' até ' + endDate.format('DD/MM [as] HH:mm[hs]')
        }
      } else {
        return 'o dia todo'
      }
    }
  }
}
</script>
<style lang="scss">
  .calendar-commitment{
    .event-list{
      height: 500px;
      overflow: auto;
      border: 1px solid #CCC;
      width: 100%;
      display: table;
      .no-events{
        vertical-align: middle;
        display: table-cell;
        text-align: center;
      }
      .panel{
        border-radius: 0;
        .panel-heading{
          border-radius: 0;
          border: 0;
        }
        .panel-body{
          padding: 0;
          .list-group{
            margin: 0;
            border: 0;
            li{
              border-radius: 0;
              border-left: 0;
              border-right: 0;
              .list-item{
                display: table;
                width: 100%;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
</style>
