<template>
  <div class="schedule-calendar-event-popover" :class="{'show': visible}">
    <div class="panel panel-default">
      <div class="panel-heading" :style="{'background-color': value.color}">
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-pills navbar-right">
              <li class="dropdown pull-left" v-if="isEdit || isDelete">
                <a class="btn " href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-option-vertical"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel" >
                  <li><a href="#" @click.prevent="$emit('edit', value)" v-show="isEdit">Editar</a></li>
                  <li><a href="#" @click.prevent="$emit('delete', value)" v-show="isDelete">Excluir</a></li>
                </ul>
              </li>
              <li><a href="#" class="btn" @click.prevent="hidePopover"><span class="glyphicon glyphicon-remove"></span></a></li>
            </ul>
          </div>
          <div class="col-sm-12">
            <h3 class="title-event">{{value.title}}</h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="event-data" v-html="getEventDate()"></div>
        <a href="#" @click.prevent="$emit('edit', value)" class="btn_edit" v-if="isEdit"><span class="glyphicon glyphicon-pencil"></span></a>
        <div class="content">
          <slot name="content" :event="value"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import { initialValue } from '../assets/data/schedule-calendar-data-source'
export default {
  props: {
    value: {
      default () {
        return _.clone(initialValue)
      }
    },
    isEdit: {
      type: Boolean,
      default: true
    },
    isDelete: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      visible: false
    }
  },
  methods: {
    showPopover () {
      if (!this.disabled) {
        this.visible = true
      }
    },
    hidePopover () {
      this.visible = false
    },
    getEventDate: function () {
      let startDate = moment(this.value.startDate)
      let endDate = moment(this.value.endDate)
      let strDate = '<p><strong>' + startDate.locale('pt-br').format('dddd, DD [de] MMMM') + '</strong>'
      if (!startDate.isSame(endDate, 'day')) {
        strDate += '<small> (' + (endDate.diff(startDate.toObject(), 'days') + 1) + ' dias)</small>'
      }

      if (this.value.allDay === true) {
        strDate += ' <br> dia inteiro'
      } else {
        strDate += ' <br> ' + startDate.format('h:mm') + 'hs'
        if (startDate.isSame(endDate, 'day')) {
          strDate += ' até ' + endDate.format('h:mm') + 'hs'
        } else {
          strDate += ' até ' + endDate.format('DD/MM [às] h:mm') + 'hs'
        }
      }
      strDate += '</p>'
      return strDate
    }
  }
}
</script>
<style lang="scss">
.schedule-calendar-event-popover{
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00000054;
  display: none;
  overflow: auto;
  &.show{
    display: block;
  }
  .panel{
    border-color: #ddd;
    -webkit-box-shadow: 0px 0px 5px 0px #333;
    box-shadow: 0px 0px 5px 0px #333;
    border: 0;
    width: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 25px;
    .panel-heading{
      background-color: #2196F3;
      .nav{
        li{
          a{
            border:0;
            color: #FFF;
            box-shadow: none;
            &:active,
            &:focus,
            &:hover{
              background-color: transparent;
            }
          }
          >ul{
            li{
              a{
                color: #000;
                &:active,
                &:focus,
                &:hover{
                  background-color: #e8e8e8;
                }
              }
            }
          }
        }
      }
      .title-event{
        color: #FFF;
        font-size: 18px;
        text-align: left;
        padding-left: 37px;
        width: 100%;
        display: block;
      }
    }
    .panel-body{
      position: relative;
      .btn_edit{
        position: absolute;
        background-color: #424242;
        width: 35px;
        height: 35px;
        color: #FFF;
        font-size: 16px;
        border-radius: 50%;
        padding: 8px;
        left: 8px;
        top: -18px;
        text-align: center;
        line-height: 20px;
      }
      .event-data{
        margin-top: 10px;
      }
      .content{
        ul{
          list-style: none;
          padding: 0;
          text-align: left;
        }
      }
    }
  }
}
</style>
