<template>
  <div class="calendar-day">
    <div class="col-sm-12">
      <div class="header-date">
        <div class="column-date-left">
          <p>dia inteiro</p>
        </div>
        <div class="column-date-right">
          <div class="date">
            <span class="day-week">{{dayWeek}}</span>
            <span class="day-number">{{dayNumber}}</span>
          </div>
          <a href="#"
             class="label label-default event-item"
             v-for="(item, lKey) in getDatasource(date, true)"
             :key="lKey"
             :style="{'background-color': item.color}"
             @click.prevent="$parent.eventSelected(item)"
          >
            {{item.title}}
          </a>
        </div>
      </div>
      <div class="container-list">
        <div class="list">
          <div class="column-hours">
            <ul>
              <li v-for="(h, i) in listEvents" :key="i">
                <span class="number">{{h.format('HH[hs]')}}</span>
              </li>
            </ul>
          </div>
          <div class="column-event">
            <div>
              <ul ref="eventList">
                <li v-for="(hour, i) in listEvents" :key="i" >
                  <a href="#"
                     class="label label-default event-item"
                     v-for="(item, iKey) in getDatasource(hour)"
                     :key="iKey"
                     :style="{'background-color': item.color}"
                     @click.prevent="$parent.eventSelected(item)"
                  >
                    {{getTime(item)}} - {{item.title}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

export default {
  props: {
    datasource: {
      type: Array,
      default () {
        return []
      }
    },
    date: {
      type: Object,
      default () {
        return moment()
      }
    }
  },
  data () {
    return {
      dayWeek: null,
      dayNumber: null,
      listEvents: []
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    load () {
      this.$emit('setTitle', this.date.format('DD [de] MMMM [de] YYYY'))
      this.dayWeek = this.date.format('dddd')
      this.dayNumber = this.date.format('DD')
      let listEvents = []
      for (let i = 0; i <= 23; i++) {
        let date = _.cloneDeep(this.date).set('hour', i)
        listEvents.push(date)
      }
      this.$parent.setStartDate(this.date)
      this.$parent.setEndDate(this.date)
      this.$parent.setDate(this.date)
      this.$parent.searchDatasource()
      this.listEvents = listEvents
    },
    getDatasource (data, allDay) {
      return _.filter(this.datasource, function (o) {
        if (!allDay && !o.allDay) {
          if (data.isSame(o.startDate, 'hour')) {
            return true
          } else if (data.isSame(o.endDate, 'hour')) {
            return true
          }
          if (data.isBetween(o.startDate, o.endDate, 'hour')) {
            return true
          }
        } else if (allDay && o.allDay) {
          if (data.isSame(o.startDate, 'day')) {
            return true
          }
          if (data.isBetween(o.startDate, o.endDate, 'day')) {
            return true
          }
        }
        return false
      })
    },
    getTime (data) {
      let startDate = moment(data.startDate)
      let endDate = moment(data.endDate)
      if (startDate.isSame(endDate, 'day')) {
        return startDate.format('DD/MM') + ' - ' + startDate.format('HH:mm[hs]') + ' até as ' + endDate.format('HH:mm[hs]')
      } else {
        return startDate.format('DD/MM') + ' - ' + startDate.format('HH:mm[hs]') + ' até ' + endDate.format('DD/MM [as] HH:mm[hs]')
      }
    }
  }
}
</script>
<style lang="scss">
  .calendar-day{
    .header-date{
      display: table;
      width: 100%;
      .column-date-left{
        vertical-align: bottom;
        width: 9.95%;
        display: table-cell;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-top: 1px solid #CCC;
      }
      .column-date-right{
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        display: table-cell;
        width: 90%;
        background-color: #fbfbfb;
        padding: 10px;
        vertical-align: middle;
        .date{
          text-align: left;
          padding-top: 10px;
          border-bottom: 1px solid #CCC;
          margin-bottom: 7px;
          .day-week{
            position: absolute;
            margin-top: -7px;
          }
          .day-number{
            font-size: 35px;
            color: #333;
          }
        }
        .event-item{
          float: left;
          margin-right: 2px;
        }
      }
    }

    .container-list {
      display: block;
      overflow: auto;
      max-height: 500px;
      .list {
        display: table;
        width: 100%;

        .column-hours {
          display: table-cell;
          border-left: 1px solid #CCC;
          border-right: 1px solid #CCC;
          vertical-align: top;

          ul {
            list-style: none;
            padding: 0;

            li {
              height: 60px;
              position: relative;
              text-align: right;
              padding-right: 6px;
              .number {
                position: relative;
                bottom: -1px;
              }
            }
          }
        }

        .column-event {
          border-top: 1px solid #CCC;
          border-right: 1px solid #CCC;
          border-bottom: 1px solid #CCC;
          display: table-cell;
          width: 90%;
          background-color: #fbfbfb;
          padding-top: 10px;
          padding-left: 4px;
          padding-right: 4px;
          vertical-align: top;

          ul {
            list-style: none;
            padding: 0;

            li {
              height: 60px;
              position: relative;
              border-bottom: 1px solid #CCC;
              padding-left: 10px;
              overflow: auto;
              &:first-child{
                border-top: 1px solid #CCC;
              }
              .event-item {
                float: left;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 2px;
                border: 1px solid #FFF;
              }
            }
          }
        }
      }
    }
  }
</style>
