<template>
  <div class="calendar-month">
    <div class="col-sm-12">
      <div class="days-of-week">
        <div class="row-day-week">
          <div class="col-day-week" v-for="(dayweek, i) in daysWeek" :key="i">{{dayweek}}</div>
        </div>
      </div>
      <div class="days-of-month">
        <div class="row-day-month" v-for="(week, wKey) in calendar" :key="wKey">
          <div class="col-day-month" v-for="(day, dKey) in week" :key="dKey" >
            <div class="date">
              <a href="#" :class="{'today': day.today}" @click.prevent="selectDay(day.date)">
                <span class="day-number" :class="{'today': day.today}">{{day.date.format('DD')}}</span>
                <span class="month-name">{{day.date.format('MMM')}}</span>
              </a>
            </div>
            <div class="list">
              <a href="#" class="label label-default" v-for="(item, lKey) in getDatasource(day.date)" :key="lKey" :style="{'background-color': item.color}" @click.prevent="$parent.eventSelected(item)">{{item.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import {
  SCHEDULE_DAY,
  DAYS_WEEK
} from '../assets/data/schedule-calendar-data-source'

export default {
  props: {
    datasource: {
      type: Array,
      default () {
        return []
      }
    },
    date: {
      type: Object,
      default () {
        return moment()
      }
    }
  },
  data () {
    return {
      daysWeek: DAYS_WEEK,
      calendar: []
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    load () {
      let activeDate = this.date.format('YYYY-MM-DD')
      let firstDayCurrentDate = this.date.startOf('month')
      this.$emit('setTitle', this.date.format('MMMM YYYY'))
      let calendar = []
      let i = 0
      for (let row = 1; row <= 6; row++) {
        let week = {}
        for (let col = 0; col <= 6; col++) {
          let dateMonth = null
          if (col < firstDayCurrentDate.day() && row === 1) {
            let daySubtract = (firstDayCurrentDate.day() - col)
            dateMonth = _.cloneDeep(this.date).subtract(daySubtract, 'days')
          } else {
            dateMonth = _.cloneDeep(this.date).add(i, 'days')
            i++
          }
          week[dateMonth.format('YYYY-MM-DD')] = {
            today: moment().isSame(dateMonth, 'day'),
            date: dateMonth
          }

          if (row === 1 && col === 0) {
            this.$parent.setStartDate(dateMonth)
          }

          if (row === 6 && col === 6) {
            this.$parent.setEndDate(dateMonth)
          }
        }
        calendar.push(week)
      }
      this.$parent.setDate(activeDate)
      this.$parent.searchDatasource()
      this.calendar = calendar
    },
    getDatasource (data) {
      return _.filter(this.datasource, function (o) {
        if (data.isSame(o.startDate, 'day')) return true
        if (data.isBetween(o.startDate, o.endDate)) return true
        if (data.isSame(o.endDate, 'day')) return true
        return false
      })
    },
    selectDay (data) {
      this.$parent.setDate(data)
      this.$parent.setScheduleActive(SCHEDULE_DAY)
    }

  }
}
</script>
